* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #222222;
}
.secondary-section {
  background: #000;
}

.experience-section{
  background: #000;
  height: 125vh;

}
section h2 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 2rem;
}

section h3 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

section h1 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 5rem;
  margin-top: -20rem;
}


section p{
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.iconPadding{
  height: 25%;
  width: 80%;

}

.iconDiv{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.iconDiv p{
  display: flex;
  color: white;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  
}

.iconDiv p1{
  color: white;
  font-size: 1.5rem;
  font-family:Georgia, 'Times New Roman', Times, serif; 
  font-weight: 300;
  line-height: 2rem;
}

.iconImage{
  height: 3rem;
  width: 3rem;
  margin: 1rem;
}



.tag {
  align-items: center!important;
  border-radius: 0.75rem!important;
  display: flex!important;
  border-radius: 25px;
  background: grey;
  padding: 20px;
  width: 7rem;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.tag p{
  --tw-text-opacity: 1!important;
  color: rgb(255 255 255/var(--tw-text-opacity))!important;
  font-family: sans-serif;
  font-size: 1rem!important;
  font-weight: 300!important;
  line-height: 1rem!important;
  margin: 0!important;
}
.displayTag{
  display: flex;
}