* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #222222;
}
.secondary-section {
  background: #000;
}
section h2 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 2rem;
}

section p{
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.iconDiv{
  display: fixed;
  justify-content: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 20vh;
  width: 200vh;
}

.iconDiv p{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.iconImage{
  height: 5rem;
  width: 5rem;
  margin: 1;
}
